@import "tailwindcss";

@theme inline {
  --color-primary-normal: #20731d;
  --color-primary-light-active: #bad4b9;
  --color-primary-light-hover: #deeadd;
  --color-primary-light: #e9f1e8;
  --color-bg-color: #F8F9FA;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--color-bg-color);
  color: var(--foreground);
}
